<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warning"
      internalLogFile="c:\temp\internal-nlog-GestionActivosAppWeb.txt">

	<!-- habilitar los renderizadores de diseño del núcleo de asp.net -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- los objetivos a los que escribir -->
	<targets>
		<!-- Archivo de destino para todos los mensajes de registro con detalles básicos -->
		<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-GestionActivosAppWeb-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Destino de archivo para mensajes de registro propios con detalles web adicionales utilizando algunos procesadores principales de ASP.NET -->
		<target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-GestionActivosAppWeb-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|" />

		<!--Console Target para alojar mensajes de por vida para mejorar la detección de inicio de Docker / Visual Studio -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
	</targets>

	<!-- reglas para mapear desde el nombre del registrador al objetivo -->
	<rules>
		<!--Todos los registros, incluidos los de Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!--Envíe mensajes de por vida del alojamiento al destino de la consola para una detección de inicio más rápida -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!--Omita los registros de Microsoft no críticos y, por lo tanto, registre solo los registros propios-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<!-- BlackHole -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>